<div class="navbar bg-base-100 border-b-2 px-6 pb-4">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl no-animation">Quizzer</a>
    </div>
<div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-base">
        <li><a>How it works ?</a></li>
        <li><a>Features</a></li>
        <li><a>About us</a></li>
    </ul>
    {% if not user.is_authenticated %}
        <button class="btn border-1 border-[#FCC822] text-[#FCC822] leading-none px-6 py-2 hover:bg-[#FCC822] hover:text-white ease-in-out transition-colors ">
            Login
        </button>

    {% else %}
        <h3>Welcome, <span class="text-[#FCC822] font-semibold">{{user.username}}</span></h3>
        <button class="btn border-1 border-[#FCC822] text-[#FCC822] leading-none px-6 py-2 hover:bg-[#FCC822] hover:text-white ease-in-out transition-colors mx-3">
            <a href="{% url 'logout' %}">Logout</a>
        </button>
    {% endif %}
</div>
</div>